    /*
    Flaticon icon font: Flaticon
    Creation date: 01/08/2018 11:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-pencil:before { content: "\f101"; }
.flaticon-trash:before { content: "\f102"; }
.flaticon-view:before { content: "\f103"; }
.flaticon-cross:before { content: "\f104"; }
.flaticon-magnifying-glass:before { content: "\f105"; }
.flaticon-google-drive-pdf-file:before { content: "\f106"; }
.flaticon-microsoft-excel-logo:before { content: "\f107"; }
.flaticon-move-to-the-next-page-symbol:before { content: "\f108"; }
.flaticon-left-arrow-chevron:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }
.flaticon-upload:before { content: "\f10b"; }
.flaticon-save:before { content: "\f10c"; }
.flaticon-folder:before { content: "\f10d"; }
.flaticon-profile:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-web-page-home:before { content: "\f110"; }
.flaticon-send:before { content: "\f111"; }
.flaticon-fast-forward-arrows:before { content: "\f112"; }
.flaticon-graph-line-screen:before { content: "\f113"; }
.flaticon-next:before { content: "\f114"; }
.flaticon-pointer:before { content: "\f115"; }
.flaticon-next-1:before { content: "\f116"; }
.flaticon-back:before { content: "\f117"; }
.flaticon-back-1:before { content: "\f118"; }
.flaticon-pointer-1:before { content: "\f119"; }
.flaticon-warning:before { content: "\f11a"; }
.flaticon-close:before { content: "\f11b"; }
.flaticon-check-symbol:before { content: "\f11c"; }
.flaticon-speedometer-counter:before { content: "\f11d"; }
.flaticon-filter:before { content: "\f11e"; }
.flaticon-paper:before { content: "\f11f"; }
.flaticon-more-button-of-three-dots:before { content: "\f120"; }
.flaticon-more:before { content: "\f121"; }
.flaticon-male:before { content: "\f122"; }
.flaticon-chevron:before { content: "\f123"; }
.flaticon-bottom:before { content: "\f124"; }
.flaticon-download-to-storage-drive:before { content: "\f125"; }
.flaticon-download-button:before { content: "\f126"; }
.flaticon-calendar-page-empty:before { content: "\f127"; }
.flaticon-clock-circular-outline:before { content: "\f128"; }
.flaticon-history-clock-button:before { content: "\f129"; }
.flaticon-timer:before { content: "\f12a"; }
.flaticon-zoom-in:before { content: "\f12b"; }
.flaticon-zoom-out:before { content: "\f12c"; }
.flaticon-microsoft-word-logo:before { content: "\f12d"; }
.flaticon-folded-document-icon:before { content: "\f12e"; }
.flaticon-workflow:before { content: "\f12f"; }
.flaticon-clipboard:before { content: "\f130"; }
.flaticon-printer:before { content: "\f131"; }
.flaticon-briefcase:before { content: "\f132"; }
.flaticon-workflow-1:before { content: "\f133"; }
.flaticon-growth:before { content: "\f134"; }
.flaticon-pause-bars:before { content: "\f135"; }
.flaticon-pause-button:before { content: "\f136"; }
.flaticon-attention:before { content: "\f137"; }
.flaticon-graph:before { content: "\f138"; }
.flaticon-chart:before { content: "\f139"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-pencil: "\f101";
    $font-Flaticon-trash: "\f102";
    $font-Flaticon-view: "\f103";
    $font-Flaticon-cross: "\f104";
    $font-Flaticon-magnifying-glass: "\f105";
    $font-Flaticon-google-drive-pdf-file: "\f106";
    $font-Flaticon-microsoft-excel-logo: "\f107";
    $font-Flaticon-move-to-the-next-page-symbol: "\f108";
    $font-Flaticon-left-arrow-chevron: "\f109";
    $font-Flaticon-edit: "\f10a";
    $font-Flaticon-upload: "\f10b";
    $font-Flaticon-save: "\f10c";
    $font-Flaticon-folder: "\f10d";
    $font-Flaticon-profile: "\f10e";
    $font-Flaticon-settings: "\f10f";
    $font-Flaticon-web-page-home: "\f110";
    $font-Flaticon-send: "\f111";
    $font-Flaticon-fast-forward-arrows: "\f112";
    $font-Flaticon-graph-line-screen: "\f113";
    $font-Flaticon-next: "\f114";
    $font-Flaticon-pointer: "\f115";
    $font-Flaticon-next-1: "\f116";
    $font-Flaticon-back: "\f117";
    $font-Flaticon-back-1: "\f118";
    $font-Flaticon-pointer-1: "\f119";
    $font-Flaticon-warning: "\f11a";
    $font-Flaticon-close: "\f11b";
    $font-Flaticon-check-symbol: "\f11c";
    $font-Flaticon-speedometer-counter: "\f11d";
    $font-Flaticon-filter: "\f11e";
    $font-Flaticon-paper: "\f11f";
    $font-Flaticon-more-button-of-three-dots: "\f120";
    $font-Flaticon-more: "\f121";
    $font-Flaticon-male: "\f122";
    $font-Flaticon-chevron: "\f123";
    $font-Flaticon-bottom: "\f124";
    $font-Flaticon-download-to-storage-drive: "\f125";
    $font-Flaticon-download-button: "\f126";
    $font-Flaticon-calendar-page-empty: "\f127";
    $font-Flaticon-clock-circular-outline: "\f128";
    $font-Flaticon-history-clock-button: "\f129";
    $font-Flaticon-timer: "\f12a";
    $font-Flaticon-zoom-in: "\f12b";
    $font-Flaticon-zoom-out: "\f12c";
    $font-Flaticon-microsoft-word-logo: "\f12d";
    $font-Flaticon-folded-document-icon: "\f12e";
    $font-Flaticon-workflow: "\f12f";
    $font-Flaticon-clipboard: "\f130";
    $font-Flaticon-printer: "\f131";
    $font-Flaticon-briefcase: "\f132";
    $font-Flaticon-workflow-1: "\f133";
    $font-Flaticon-growth: "\f134";
    $font-Flaticon-pause-bars: "\f135";
    $font-Flaticon-pause-button: "\f136";
    $font-Flaticon-attention: "\f137";
    $font-Flaticon-graph: "\f138";
    $font-Flaticon-chart: "\f139";