	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/08/2018 11:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-family: Flaticon;
font-size: 20px;
font-style: normal;
vertical-align: middle;

}

.flaticon-add:before { content: "\f100"; }
.flaticon-pencil:before { content: "\f101"; }
.flaticon-pencil-16px:before {
 content: "\f101";
 font-size: 16px;
}
.flaticon-trash:before { content: "\f102"; }
.flaticon-trash-16px:before {
  content: "\f102";
  font-size: 16px;
}
.flaticon-view:before { content: "\f103"; }
.flaticon-view-16px:before {
  content: "\f103";
  font-size: 16px;

}

.flaticon-cross:before { content: "\f104"; }
.flaticon-cross-16px:before {
   content: "\f104";
   font-size:16px
 }
.flaticon-magnifying-glass:before { content: "\f105"; }
.flaticon-magnifying-glass-14px:before {
   content: "\f105";
   font-size:14px;
 }
.flaticon-google-drive-pdf-file:before { content: "\f106"; }
.flaticon-microsoft-excel-logo:before { content: "\f107"; }
.flaticon-move-to-the-next-page-symbol:before { content: "\f108"; }
.flaticon-left-arrow-chevron:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }
.flaticon-upload:before { content: "\f10b"; }
.flaticon-save:before { content: "\f10c"; }
.flaticon-folder:before { content: "\f10d"; }
.flaticon-folder-breadcrum:before {
  content: "\f10d";
  font-size: 14px;
}
.flaticon-profile:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-settings-breadcrum:before {
  content: "\f10f";
  font-size: 14px;

 }
.flaticon-web-page-home:before { content: "\f110"; }
.flaticon-send:before { content: "\f111"; }
.flaticon-fast-forward-arrows:before { content: "\f112"; }
.flaticon-graph-line-screen:before { content: "\f113"; }
.flaticon-next:before { content: "\f114"; }
.flaticon-pointer:before { content: "\f115"; }
.flaticon-next-1:before { content: "\f116"; }
.flaticon-back:before { content: "\f117"; }
.flaticon-back-1:before { content: "\f118"; }
.flaticon-pointer-1:before { content: "\f119"; }
.flaticon-warning:before { content: "\f11a"; }
.flaticon-close:before { content: "\f11b"; }
.flaticon-check-symbol:before { content: "\f11c"; }
.flaticon-speedometer-counter:before { content: "\f11d"; }
.flaticon-filter:before { content: "\f11e"; }
.flaticon-paper:before { content: "\f11f"; }
.flaticon-more-button-of-three-dots:before { content: "\f120"; }
.flaticon-more:before { content: "\f121"; }
.flaticon-male:before { content: "\f122"; }
.flaticon-chevron:before { content: "\f123"; }
.flaticon-bottom:before { content: "\f124"; }
.flaticon-download-to-storage-drive:before { content: "\f125"; }
.flaticon-download-button:before { content: "\f126"; }
.flaticon-calendar-page-empty:before { content: "\f127"; }
.flaticon-calendar-page-empty-14px:before {
  font-size: 14px;
  content: "\f127";
}
.flaticon-calendar-page-empty-14px:before {
  content: "\f127";
  font-size: 14px;
}
.flaticon-clock-circular-outline:before { content: "\f128"; }
.flaticon-history-clock-button:before { content: "\f129"; }
.flaticon-history-clock-60px:before {
  font-size: 60px;
  content: "\f129";
}
.flaticon-timer:before { content: "\f12a"; }
.flaticon-zoom-in:before { content: "\f12b"; }
.flaticon-zoom-out:before { content: "\f12c"; }
.flaticon-microsoft-word-logo:before { content: "\f12d"; }
.flaticon-folded-document-icon:before { content: "\f12e"; }
.flaticon-workflow:before { content: "\f12f"; }
.flaticon-clipboard:before { content: "\f130"; }
.flaticon-printer:before { content: "\f131"; }
.flaticon-briefcase:before { content: "\f132"; }
.flaticon-workflow-1:before { content: "\f133"; }
.flaticon-growth:before { content: "\f134"; }
.flaticon-pause-bars:before { content: "\f135"; }
.flaticon-pause-button:before { content: "\f136"; }
.flaticon-attention:before { content: "\f137"; }
.flaticon-graph:before { content: "\f138"; }
.flaticon-chart:before { content: "\f139"; }
.flaticon-calendar:before { content: "\f13b"; }
