.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
  color:#ffffff;
  background-color: #001738;
  border: 1px solid #001738;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}
.my-pagination /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #fd5474;
  border-color: #fd5474;
  color:#001738
}
.my-pagination /deep/ .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #fd5474;
  border:1px solid #fd5474;
  color: #001738;
  cursor: default;
}
.my-pagination /deep/ .ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #ffffff;
  background-color: #001738;
  border: 1px solid #001738;
  cursor: default;
}
.my-pagination /deep/ .ngx-pagination .disabled:hover {
  background: #fd5474;
  color:#001738
}

