@charset "utf-8";
/* CSS Document */
.wrapper-content-custom{
	padding:10px 50px 50px 50px;
	}
	.modal-dialog-custom{
		width:450px;
		margin:100px auto !important;
	}
	.modal-dialog-custom1{
		width:800px;
		margin:20px auto !important;
	}
	.modal-dialog-datetimepicker1{
		width:300px;
		margin:20px auto !important;
	}
	.vertical-timeline-icon-permission {
	  position: absolute;
	  top: 0;
	  left: 0;
		padding-top: 2px;
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  font-size: 12px;
	  /*border: 3px solid #f1f1f1;*/
	  text-align: center;
	}
	.fontyellow{
		color:#FDB815 !important;
	}
	.fontwhite{
		color:#ffffff !important;
	}
	.bgyellow{
		background-color:#FDB815;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgbrown{
		background-color:#c9ab75;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgpink{
		background-color:#fd5474;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bggreen{
		background-color:#8ab43a;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgred{
		background-color:#ec4758;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgtablegray{
		background-color: #f9f9f9;
	}
	.btn-pm:hover, .btn-pm:focus, .btn-pm:active, .btn-pm.active, .open .dropdown-toggle.btn-pm, .btn-pm:active:focus, .btn-pm:active:hover, .btn-pm.active:hover, .btn-default.active:focus{
		background-color: #e1f5b9;
		color:#5d8c0e;

	}


	.fontred{
		color:#ec4758 !important;
	}
	.nav > li > a:focus, .nav > li > a:hover{
		background-color:transparent;
		color: #fd5474;
	}
	.lineGG{
		border: solid #fd5474;
		border-width:2px;
		width:70px;
		margin-bottom: 20px;
		}
	.navy-bg{
		padding-top:5px;
	}
	.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > tr > th, .table-hover > tbody > tr:hover > .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover,
	.table-hover > tbody > tr:hover  {
		background-color:#efebe5;
	}
	/*..table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
		background-color:#000;



	}

	table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
		background-color:#000;



	}*/

.inmodal .modal-header1{
     padding: 30px 15px;
		 text-align:center;
}
.inmodal .modal-header2{
     padding: 20px 15px;

}
	.shadowrow{
		border-color:#fce4d1;
		border-style:solid solid none;
		border-width:3px 0 0;
	}
	.m-t-60{
		margin-top:60px;
	}
	.m-t-80{
		margin-top:80px;
	}
	.pagename-custom {
	   padding-left:60px;
		 padding-right:50px;
	}
	.bc{
		color: #fd5474;
	}
.HeaderColor{
  width:100%;
  background-color: 3A2D4B;
	}
.heightlist{
	min-height:620px;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
	background-color: #fd5474 !important;
  color: #001738 !important;
  border-color: #fd5474 !important;
}
.fonttextbox{
   color:#555555;
}
.fontlink{
   color:#fd5474;
}
.fontlink:hover{
   color:#fd5474;
}
.fontclose{
   color:#C00632;
}
.fontselect{
   color:#8AB43A;
}
div.dataTables_wrapper div.dataTables_filter{
 display: none;
}
.vertical-timeline-icon{
  border: none !important;
}
	.label-active{
		background-color: #7bb418;
	  color: #FFFFFF;
		padding-left: 12px;
		padding-right: 12px;
	}
	.label-inactive{
		background-color: #c00632;
		color: #FFFFFF;
	}
.borderprofile{
	border:0.5px solid #fff;
	width:100%;
	opacity:0.1;
	}
	.bordercontent{
		margin-top: 15px;
		border-bottom: 1px solid #ccc;
		width:100%;
		}
	.nav-second-level > li.active > a{
		color:#001738;
		font-weight: 600;
		letter-spacing:0.2px;
	}
.bgshadowx{
  width:100%;
  background: black;
  opacity:0.1;
  height:5px !important;
	margin-left: 221px;
	}
.bgshadowy{
  width:5px !important;
  background: black;
  opacity:0.1;
  height:100%;
	}
.imguserlogin{
  width:55px;
  height:55px;
  border:3px solid #ffffff;
	margin-top:-20px;
	}
	.imguserlogin-nav{
	  width:45px;
	  height:45px;
	  border:1px solid #cccccc;
		margin-top:-10px;
		}
	.imgelement{
	  width:150px;
	  height:123px;
	  border:3px solid #ffffff;
		}
		.imgimp{
		  width:150px;
		  height:150px;
		  border:3px solid #ffffff;
			}
.fontgroupname{
	font-size: 25px;
	font-weight: 500;

}
.fontuser{
	font-size: 20px;
	font-weight: 500;

}
.fonth4{
	font-size: 15px;
}
.imgdescription{
	width:120px;
	height:120px;
  margin-top:-10px;
	margin-bottom:10px;
		}
.fontdescription-2{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#eaeaea;
	}
.imggroup{
	width:50px;
	height:50px;
	margin-top:-5px;
	margin-bottom:10px;
		}
.btnaction{
  display:inline-block;
  /*padding:12px 12px 12px 12px;*/
	padding:10px 10px 10px 10px;
  font-size:12px;
  font-weight:400;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  touch-action:manipulation;
  cursor:pointer;
  user-select:none;
  background-image:none;
  line-height:1.42857143;
  border:1px solid;
  border-radius:0px;
}
.btnaction.active:active,
.btnaction.active:hover,
.btnaction.active:focus {
  border:1px solid;
  border-radius:3px;

}
.bggray{
	background-color: #cccccc;
	height: 80px;
	padding-top:20px;
}
/*.img-circlegroupuser{
  width: 200px;
  height: 200px;
	border-radius: 50%;
}*/
.bgnone{
	background-color:transparent;
	}
.fontbtn{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#ffffff;
	}
.fontgroup-gray{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;
	color:#eaeaea;
	}
	.fontgroup-area{
		margin-top: 80px;
		margin-bottom: 30px;
	}

	.fontcreatepagename{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:18px;
		font-weight:100;
		/*color:#78a817;*/
		color:#676A6C;
		}

.ui-jqgrid .ui-jqgrid-title{
  margin-top: 8px !important;
	margin-left: 8px !important;
}
.fontpage{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;
	font-weight:600;
	color:#000000;
	}
	.fontgreen{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:16px;
		font-weight:100px;
		color:#8ab43a ;
		}
	.fonttopic-modal{
			font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:16px;
			font-weight:100px;
			color:#001738 ;
		}
.fontbrown{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:100px;
	color:#c9ab75 ;
	}
	.fontpink{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:16px;
		font-weight:100px;
		color:#fd5474 ;
		}
.fontname{
	color:#a2f600;
	}
.fontfooter{
	color:#d6b9a2;
	}
.linemenu{
	/*line-height:35px;*/
		line-height:35px; 	/*OneSiam*/
	}
.linepermission{
		line-height:25px;
}
.bgmenu {
	clear: both;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	background-image:url(/src/assets/img/bgmenu.png)repeat-x;
  background-repeat:no-repeat;
	position: absolute;
}
.hr-line-dashed-custom {
  border-top: 1px dashed #ccc;
  color: #000;
  height: 1px;
  margin: 10px 0;
}
.bgbreadcrumb{
   background-color:#fff6ef; /**#E0E0E0;/
   padding-left:20px;
   padding-top:8px;
   padding-bottom:0px;
   border-radius:0px;
   width:100%;
}
.fontmenuicon{
	color:#ffffff; /*70a418*/
}
.bgmininavber{
	font-size:40px;
	margin-top:15px;
	color:#a2f600;
	height:60px;
	}

.nav-headerGreen {
  padding: 3px 35px 0px;
  /*background-color:#70a418;*/

}
.vertical-timeline-content-custom{
	margin-top:10px;
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius:10em;
	width:200px;
	padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
}
.nav-headerGreen a {
  /*color: #000000;*/
}
.nav-headerGreen .text-muted {
  color: #ffffff;
  opacity:0.5;
}
body.mini-navbar .nav-headerGreen {
	padding: 0;
}
body.canvas-menu .nav-headerGreen {
  padding: 33px 25px;
}
body.mini-navbar.fixed-sidebar .nav-headerGreen {
  padding: 20px 25px;
}
.jstree-default .jstree-anchor{
	height: 40px !important;
}
.machinebox{
	width: 250px;
	height:45px;
}
.lineip{
	line-height:10pt
}
.fontcomponent{
	color:#ed5565;
	font-style: italic;
	margin-top: -10px;
}
/*------ button Small-----*/
.font-btn{
	font-size: 12px;
}
.width-btn-small {
  min-width: 85px;
}
/*------ icon button-----*/
.font-btn-text{
	font-size: 12px;
	padding: 8px 12px 8px 12px;

}
.btn-group-sm > .btn, .btn-sm{
	padding:3px 10px 7px 10px !important;
}

.ibox-collapse {
  background-color:#f5f5f5;
  border-color: #dddddd;
	border-radius: 3px;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: #333333;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.i-checkboxchecks {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.i-checkboxchecks  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /*background-color: #eee;*/
		margin-top: -7px;
		border:1px solid #cccccc;
}

.i-checkboxchecks:hover input ~ .checkmark {
    background-color:#efebe5;
}

.i-checkboxchecks  input:checked ~ .checkmark {
    background-color: #fd5474;
		font-family: cursive;
}

.i-checkboxchecks  input:disabled ~ .checkmark {
    background-color: #cccccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.i-checkboxchecks  input:checked ~ .checkmark:after {
    display: block;
}

.i-checkboxchecks  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The i-radiochecks */
.i-radiochecks {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.i-radiochecks_cs {
	display: inline !important;
	top:8px;
}

/* Hide the browser's default radio button */
.i-radiochecks input {
  position: absolute;
  opacity: 0;
}

.i-radiochecks  input:disabled ~ .checkradio {
    background-color: #cccccc !important;
}

/* Create a custom radio button */
.checkradio {
	position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /*background-color: #eee;*/
  border-radius: 50%;
	margin-top: -7px;
	border:1px solid #cccccc;
}

.checkradio_cs {
	top: 0px;
}

/* On mouse-over, add a grey background color */
.i-radiochecks:hover input ~ .checkradio {
  background-color: #efebe5;
}

/* When the radio button is checked, add a blue background */
.i-radiochecks input:checked ~ .checkradio {
  background-color: #fd5474;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.i-radiochecks input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.i-radiochecks .checkradio:after {
	/*left: 9px;
	top: 9px;
	width: 7px;
	height: 7px;
	border: solid white;
	background-color: #ffffff;
	border-radius: 50%;*/
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
  border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

}
.bg-condition{
	padding:15px;
	border-radius: 3px;
	background-color: #fafafa;
}
.bgtopic-condition{
	color:#ffffff;
	background-color:#d6b9a2 ;
	border-color:#d6b9a2;
	padding:15px;
	border-radius: 3px;

}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
	color:#ffffff!important;
	background-color:#001738!important;
	border-color:#001738 !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px!important;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-top-right-radius:0px !important;
	border-bottom-right-radius:0px!important;
}
