<div class="row wrapper white-bg page-heading bgnone">
  <div class="col-lg-12  pagename-custom">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="fontpage ">Home Management</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        <a class="btnaction btn-w-m btn-main m-r-xxs"  data-placement="top" title="" id="btnCreate">
          <i class="fa fa-buttom flaticon-add"></i>Create</a>
      </div>
    </div>
    <br>
    <ol class="breadcrumb bgbreadcrumb m-t-n">
      <li>
        <p>
          <i class="fa flaticon-folder-breadcrum m-r-sm"></i>Home
          <p>
      </li>
      <li class="bc">
        <a>Home Management</a>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <i class="fa flaticon-magnifying-glass pull-left"></i>
          <h5>Filter</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
          <form   class="form-horizontal">
              <div class="row form-group form-search">
                <div class="col-sm-6 col-md-4 col-lg-4  ">
                  <label class="col-sm-12 control-label label-search">ID</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control mgt-10" placeholder="ID" id="txtId">
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4  ">
                  <label class="col-sm-12 control-label label-search">Type</label>
                  <div class="col-sm-12 mgt-10">
                    <select class="selectpickerRS form-control" >
                      <option value="">Nothing Selected</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4  ">
                  <label class="col-sm-12 control-label label-search">Requester</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control mgt-10" placeholder="Requester" id="txtRequester" >
                  </div>
                </div>

              </div>

            <div class="row mt-4">
                <div class="col-sm-12 col-md-12 col-lg-12  ">
                  <div class="pull-right">
                    <a class="btn btn-main font-btn width-btn-small mgr" data-toggle="tooltip" data-placement="top" title="Search" id="btnSearch"
                      >Search</a>
                    <a class="btn btn-default font-btn width-btn-small" data-toggle="tooltip" data-placement="top" title="Search" id="btnClear"
                      >Clear</a>
                  </div>
                </div>
              </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox m-t-n">
        <div class="ibox-content  heightlist shadowrow">
          <div class="ibox-content" style="border:none;">

            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <strong class="">Search Results {{searchOffset+1}} - {{searchOffset+searchLimit}} of {{countList}} items
                </strong>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6">
                <div class="form-inline">
                  <label for="email">Show</label>&nbsp;&nbsp;&nbsp;
                  <select class="form-control" id="btnShow" >
                    <option *ngFor="let show of showNumber" [selected]='searchLimit == show' [value]="show">{{show}}</option>
                  </select>&nbsp;&nbsp;&nbsp;
                  <label for="pwd">entries</label>
                </div>
              </div>
            </div>
            <br/>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover ">
                <thead>
                  <tr>
                    <th class="col-xs-1 ">No.</th>
                    <th class="col-xs-5 ">Name</th>
                    <th class="col-xs-1">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!searchNotfound">
                    <tr class="gradeA" *ngFor="let data of datas |  paginate: {  itemsPerPage: searchLimit, currentPage: queryPage, totalItems: countList }; let i = index">
                      <td>{{searchOffset+i+1}}</td>
                      <td>{{data.name}}</td>
                      <td style="text-align: center">
                        <a class="btn btn-default btn-sm mgr" id="btnView"><i class="fa flaticon-view-16px"></i></a>
                        <button class="btn btn-main font-btn btn-xs " > Btn </button>
                      </td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="searchNotfound" class="gradeA">
                    <td class="center" colspan="6">No Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br/>
              <div style="text-align: right" *ngIf="!searchNotfound">
                <pagination-controls (pageChange)="queryPage = $event" class="my-pagination" (click)="onChangePage()"></pagination-controls>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="backdrop" [ngStyle]="{'display':displayBackdrop}"></div> -->
<div class="modal inmodal" [ngStyle]="{'display':displayModalRequire}" id="modalRequire" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog-custom">
    <div class="modal-content animated fadeIn">
      <div class="bgyellow">
        <div class="row" style="padding-top:10px;">
          <div class="col-sm-8 pull-right m-r">
            <a class="btn pull-right" data-dismiss="modal" style="border:none;" (click)="onCloseModal()">
              <font style="color:#ffffff;">
                <i class="fa flaticon-cross-16px"></i>
              </font>
            </a>
          </div>
        </div>
        <div style="text-align:center">
          <!-- <center> -->
          <img src="../../assets/warning.png" width="110px">
          <!-- </center> -->
        </div>
      </div>
      <br>
      <div class="modal-header">
        <h4 class="modal-title fontyellow">Field is required !</h4>
        <p>Please specify at least one filter.</p>
        <br>
      </div>
    </div>
  </div>
</div>


<div class="modal inmodal" [ngStyle]="{'display': displayModalCreateSuccess}" id="myModalSuccess" tabindex="-1" role="dialog"
  aria-hidden="true" style="margin-left:-17px;">
  <div class="modal-dialog-custom">
    <div class="modal-content animated fadeIn">
      <div class="bggreen">
        <div class="row " style="padding-top:10px;">
          <div class="col-sm-8 pull-right m-r">
            <a (click)="reloadAftercreateSuccess()" class="btn pull-right" data-dismiss="modal" style="border:none;">
              <font style="color:#ffffff;">
                <i class="fa flaticon-cross-16px"></i>
              </font>
            </a>
          </div>
        </div>
        <div class="m-l-n-sm center">
          <img src="../../assets/success.png" width="110px">
        </div>
      </div>
      <br>
      <div class="modal-header">
        <h4 class="modal-title fontgreen">Success !</h4>
        <p>Your data has been created successfully.</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{'display':displayModalCreateReportError}" class="modal inmodal" id="myModalError" tabindex="-1" role="dialog" aria-hidden="true"
style="margin-left:-17px;">
<div class="modal-dialog-custom">
  <div class="modal-content animated fadeIn">
    <div class="bgpink">
      <div class="row" style="padding-top:10px;">
        <div class="col-sm-8 pull-right m-r">
          <a class="btn pull-right" data-dismiss="modal" style="border:none;" (click)="onCloseModal()" id="btnPopupCloseError">
            <font style="color:#ffffff;">
              <i class="fa flaticon-cross-16px"></i>
            </font>
          </a>
        </div>
      </div>
      <div class="m-l-n-sm center">
        <img src="../../assets/error.png" width="110px">
      </div>
    </div>
    <br>
    <div class="modal-header">
      <h4 class="modal-title fontpink">Error !</h4>
      <p>Internal Server error. Please contact your administrator.</p>
      <br>
    </div>
  </div>
</div>
</div>

<div [ngStyle]="{'display':displayModalCreateReportExist}" class="modal inmodal" id="myModalError" tabindex="-1" role="dialog" aria-hidden="true"
style="margin-left:-17px;">
<div class="modal-dialog-custom">
  <div class="modal-content animated fadeIn">
    <div class="bgpink">
      <div class="row" style="padding-top:10px;">
        <div class="col-sm-8 pull-right m-r">
          <a class="btn pull-right" data-dismiss="modal" style="border:none;" (click)="onCloseModal()" id="btnPopupCloseError">
            <font style="color:#ffffff;">
              <i class="fa flaticon-cross-16px"></i>
            </font>
          </a>
        </div>
      </div>
      <div class="m-l-n-sm center">
        <img src="../../assets/error.png" width="110px">
      </div>
    </div>
    <br>
    <div class="modal-header">
      <h4 class="modal-title fontpink">Error !</h4>
      <p>This data is already existed.</p>
      <br>
    </div>
  </div>
</div>
</div>




<div class="modal inmodal" [ngStyle]="{'display': displayOpenModalCreateReport}" id="createReport" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog-custom">
    <div class="modal-content animated fadeIn">
      <div class="bgpink">

        <div class="row " style="padding-top: 10px">
          <div class="col-sm-8 pull-left m-l">
            <h4 class="modal-title fontwhite">Create Report</h4>
          </div>
          <div class="col-sm-3 pull-right m-r ">
            <a (click)="onCloseModal()" class="btn pull-right" data-dismiss="modal" style="border:none;">
              <font style="color:#ffffff;">
                <i class="fa flaticon-cross-16px"></i>
              </font>
            </a>
          </div>
        </div>
        <!-- <div class="m-l-n-sm center">

                    <img src="../../assets/img/warning.png" width="110px">

                  </div> -->
      </div>
      <br>
      <div class="modal-body">
        <!-- <h4 class="modal-title fontyellow">Create Report</h4> -->
        <!-- <p>create report?</p> -->
        <div class="row ">
          <form >
            <div class="row form-group form-search">
              <div class="col-sm-12 col-md-12 col-lg-12 ">
                <label class="col-sm-12 control-label label-search">Report Type
                  <font class="fontred">*</font>
                </label>
                <div class="col-sm-12 mgt-10">

                  <select class="selectpickerRC form-control" >
                    <option value = "" >Please Select</option>
                  </select>
                </div>
              </div>
            </div>





            <div class="row form-group form-search">
              <div class=" col-sm-12 col-md-12 col-lg-12  ">
                <label class="col-sm-12 control-label label-search">
                  <strong>Create Date</strong>
                  <font class="fontred">*</font>
                </label>

                <div class="col-sm-12">
                  <div class="input-daterange input-group mgt-10">

                    <input type="text"  style="background-color:#ffffff" class="form-control" placeholder="Create Date From"
                      id="txtStartCreateDateCreate" autocomplete="off" readonly>

                    <span class="input-group-btn">
                      <button type="button" class="date btn btn-main " data-placement="top" title="" id="btnCreateDateStart">
                        <i class="fa flaticon-calendar-page-empty-14px"></i>
                      </button>
                    </span>

                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="input-daterange input-group mgt-10">

                    <input type="text"  style="background-color:#ffffff" class="form-control" placeholder="Create Date To"
                      id="txtEndCreateDateCreate" autocomplete="off" readonly>

                    <span class="input-group-btn">
                      <button type="button" class="date btn btn-main " data-placement="top" title="" id="btnCreateDateEnd">
                        <i class="fa flaticon-calendar-page-empty-14px"></i>
                      </button>
                    </span>
                  </div>

                  <div class="col-sm-12" *ngIf="isDateCreate">
                    <span class="help-block m-b-none">
                      <font class="fontred">{{msg.invalidDate}}</font>
                    </span>
                  </div>
                </div>



              </div>

            </div>

            <div class="row form-group form-search  pull-right">
              <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="col-sm-12 mgt-10">

                  <button type="button" (click)="onCloseModal()" class="btn btn-default font-btn width-btn-small" data-dismiss="modal" style="margin-right:3px"
                    id="btnPopupCancel">Cancel</button>

                  <button style="margin-left:0px;" class="btn btn-main font-btn width-btn-small" (click)="onCreateReport()" data-dismiss="modal"
                    title="Reply" id="btnPopupCreateReport" [disabled]="disableCreateReportBtn">Create Report</button>


                </div>
              </div>
            </div>



            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>



