.filter-search{
  padding-right: 90px;
  text-align: right;
}

.mgt-10{
  /*width: 170px;*/
  margin-top: 10px
}

.mgt-12{
  /*width: 170px;*/
  margin-top: 12px
}

.label-search{
  /* margin-left: -120px*/
  text-align: left;
  margin-top: 10px;
}

.center{
  text-align: center
}

.backdrop {
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
}
.mb50{
  margin-bottom: 50px
}

.label-hashtag{
  background-color: #001738;
  border-color: #001738;
  color: #ffffff;
  padding: 5px 12px 5px 12px;
  display: inline-block;
  min-width: 60px;
  font-size: 12px;
}
.filter-search{
  padding-right: 90px;
  text-align: right;
}

.mgt-10{
  /*width: 170px;*/
  margin-top: 10px
}

.label-search{
  /* margin-left: -120px*/
  text-align: left;
  margin-top: 10px;
}

.center{
  text-align: center
}

.backdrop {
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
}
.mb50{
  margin-bottom: 50px
}

.label-hashtag{
  background-color: #001738;
  border-color: #001738;
  color: #ffffff;
  padding: 5px 12px 5px 12px;
  display: inline-block;
  min-width: 60px;
  font-size: 12px;
}

.input-group-addon-create{
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #FFFFFF;
  border-width: 1px 0;
  margin-left: -5px;
  margin-right: -5px;
}

.picker__input {
    cursor: pointer;
}

.mgr{
  margin-right: 5px
}
